.head1{
    text-align: center;
    border-radius: 810px;
    background-color: rgb(49, 94, 190);
    text-transform: uppercase;
    text-decoration-color: black;
    border: solid;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}
.para1{
    border-radius: 5px;
    background-color: rgb(242, 255, 127);
    text-transform: uppercase;
    text-decoration-color: black;
    border: dotted;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    border-color: brown;
}
.head2{
    text-align: center;
    border-radius: 810px;
    background-color: rgb(49, 94, 190);
    text-transform: uppercase;
    text-decoration-color: black;
    border: solid;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}
.para2{
    border-radius: 5px;
    background-color: rgb(242, 255, 127);
    text-transform: uppercase;
    text-decoration-color: black;
    border: dotted;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    border-color: brown;
}

.head3{
    text-align: center;
    border-radius:  810px;
    background-color: rgb(49, 94, 190);
    text-transform: uppercase;
    text-decoration-color: black;
    border: solid;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}
.para3{
    
        border-radius: 5px;
        background-color: rgb(242, 255, 127);
        text-transform: uppercase;
        text-decoration-color: black;
        border: dotted;
        font-size: x-large;
        font-family: 'Times New Roman', Times, serif;
        border-color: brown;
}
.head4{
    text-align: center;
    border-radius:  810px;
    background-color: rgb(49, 94, 190);
    text-transform: uppercase;
    text-decoration-color: black;
    border: solid;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}
.para4{
    
    border-radius: 5px;
    background-color: rgb(242, 255, 127);
    text-transform: uppercase;
    text-decoration-color: black;
    border: dotted;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    border-color: brown;
}
.head5{
    text-align: center;
    border-radius:  810px;
    background-color: rgb(49, 94, 190);
    text-transform: uppercase;
    text-decoration-color: black;
    border: solid;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}
.para5{
    
    border-radius: 5px;
    background-color: rgb(242, 255, 127);
    text-transform: uppercase;
    text-decoration-color: black;
    border: dotted;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    border-color: brown;
}
.head6{
    text-align: center;
    border-radius:  810px;
    background-color: rgb(49, 94, 190);
    text-transform: uppercase;
    text-decoration-color: black;
    border: solid;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}
.para6{
    
    border-radius: 5px;
    background-color: rgb(242, 255, 127);
    text-transform: uppercase;
    text-decoration-color: black;
    border: dotted;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    border-color: brown;
}
.head7{
    text-align: center;
    border-radius:  810px;
    background-color: rgb(49, 94, 190);
    text-transform: uppercase;
    text-decoration-color: black;
    border: solid;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}
.para7{
    
    border-radius: 5px;
    background-color: rgb(242, 255, 127);
    text-transform: uppercase;
    text-decoration-color: black;
    border: dotted;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    border-color: brown;
}
.head8{
    text-align: center;
    border-radius:  810px;
    background-color: rgb(49, 94, 190);
    text-transform: uppercase;
    text-decoration-color: black;
    border: solid;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}
.para8{
    
    border-radius: 10px;
    background-color: rgb(242, 255, 127);
    text-transform: uppercase;
    text-decoration-color: black;
    border: dotted;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    border-color: brown;
}

.head9{
    text-align: center;
    border-radius:  810px;
    background-color: rgb(49, 94, 190);
    text-transform: uppercase;
    text-decoration-color: black;
    border: solid;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}
.para9{
    
    border-radius: 5px;
    background-color: rgb(242, 255, 127);
    text-transform: uppercase;
    text-decoration-color: black;
    border: dotted;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    border-color: brown;
}

.head10{
    text-align: center;
    border-radius:  810px;
   background-color: rgb(49, 94, 190);
    text-transform: uppercase;
    text-decoration-color: black;
    border: solid;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}
.para10{
    
    border-radius: 5px;
    background-color: rgb(194, 216, 158);
    text-transform: uppercase;
    text-decoration-color: black;
    border: dotted;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    border-color: brown;
}